@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

/*logo font*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

body {
	background-color: #001524;
    color: aliceblue;
    font-family: "Rokkitt";
    font-size: 30px;
    padding: 15px;
    word-spacing: 7px;
}

h1{
    color: antiquewhite;
    font-family: "Redressed",serif;
    font-weight: lighter;
    font-size: 50px; 
    margin: 85px;
}

.branding img{
    margin: 2px;
    padding: 2px;
    height: 70px;
    width: 120px;
	
}
div.direction {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: 	#001524;
    color: white;
    border: 2px solid #95ff98;
    text-align: right;
    text-decoration-color: aliceblue;
    font-size: 30px;
    font-family:serif;
}
a {
    color: aliceblue;
    font-size: 0.7cm;
    padding: 25px;
}

p{
    margin: 85px;
    margin-bottom: 0px;
}

/********************* LOGO ************************/
.fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /*border-radius: 100%;*/
    border-radius: 30px;
    
  }
.fa:hover {
    opacity: 0.7;
}

.fa-twitter{
    margin-top: 0%;
    margin-left: 100px;
}
.fa-instagram{
    margin-top: 0px;
}
.fa-linkedin{
    margin: 0px;
}